{% extends 'base.html' %}

{% block content %}
  <h1>Minhas Tarefas</h1>
  <ul>
    {% for task in tasks %}
      <li>
        <a href="{% url 'task_detail' task.id %}">{{ task.title }}</a>
        {% if task.completed %} (Concluída) {% endif %}
      </li>
    {% endfor %}
  </ul>
  <a href="{% url 'task_create' %}">Nova Tarefa</a>
  <div id="calendar"></div>

  <script>
  document.addEventListener('DOMContentLoaded', function() {
      var calendarEl = document.getElementById('calendar');

      var calendar = new FullCalendar.Calendar(calendarEl, {
          plugins: ['dayGrid'],
          events: [
          ],
          eventClick: function(info) {
              window.location.href = info.event.url;
          }
      });

      calendar.render();
  });
  </script>

{% endblock %}
